<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <title>mr_perfect_pandit</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'bootstrap.min.css'%}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">h.sharma</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="/about_us"><b><u>ABOUT US</u></b> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="/contact_us"><b><u>CONTACT US</u></b></a>
      </li>
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          Dropdown-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--          <a class="dropdown-item" href="#">Action</a>-->
<!--          <a class="dropdown-item" href="#">Another action</a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--      </li>-->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<h1 style="color:orange" align="center"><i>Enter text below to remove punctuations</i></h1>
<!--{%csrf_token%}-->
<form action="/analized" method="post">{%csrf_token%}
    <div class="form-group">
    <textarea name="form_data" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="ENTER TEXT HERE" ></textarea>
  </div>
<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="customSwitch1" name="punc_check">
  <label class="custom-control-label" for="customSwitch1"> remove punctuations</label><br>
</div>
<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="customSwitch2" name="space_check">
  <label class="custom-control-label" for="customSwitch2"> remove double spaces</label><br>
</div>
<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="customSwitch3" name="line_check">
  <label class="custom-control-label" for="customSwitch3">remove new lines</label><br>
</div>
<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="customSwitch4" name="num_check">
  <label class="custom-control-label" for="customSwitch4">remove digits</label><br>
</div>
<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="customSwitch5" name="upper_check">
  <label class="custom-control-label" for="customSwitch5">convert into uppercase</label><br>
</div>
<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="customSwitch6" name="char_check">
  <label class="custom-control-label" for="customSwitch6">count charecters</label><br><hr>
</div>
<button type="submit" class="btn btn-primary btn-lg btn-block">analize this text now</button>
</form>>
</body>
</html>